[submodule "xchat"]
	path = xchat
	url = git://github.com/xchataqua/xchat.git
[submodule "glib"]
	path = glib
	url = git://github.com/xchataqua/glib.git
[submodule "Mac/Plugins/ruby"]
	path = Mac/Plugins/ruby
	url = git://github.com/xchataqua/xchatruby.git
[submodule "Resources/theme/Solarized"]
	path = Resources/theme/Solarized
	url = git://github.com/xchataqua/xchat-colors-solarized.git
[submodule "hexchat"]
	path = hexchat
	url = https://github.com/xchataqua/hexchat.git
