<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_NAME} version ${XCHAT_AQUA_VERSION}, Copyright 2003-2010 Steve Green.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>XChat</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon57.png</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>Icon files</key>
	<array>
		<string>Icon57.png</string>
		<string>Icon72.png</string>
		<string>Icon114.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.3rddev.xchatiphone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${XCHAT_AQUA_VERSION_INTERNAL}</string>
	<key>CFBundleShortVersionString</key>
	<string>${XCHAT_AQUA_VERSION}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2010 3rddev</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
</dict>
</plist>
