<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<dict>
		<key>CFBundleIconFile</key>
		<string>xchat.icns</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleExecutable</key>
		<string>${PRODUCT_NAME}</string>
		<key>CFBundleGetInfoString</key>
		<string>${PRODUCT_NAME} development version ${XCHAT_AQUA_VERSION}, Copyright 2008 Steve Green.</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleIdentifier</key>
		<string>net.sf.xchataqua</string>
		<key>CFBundleName</key>
		<string>${PRODUCT_NAME}</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>${PRODUCT_NAME} development version ${XCHAT_AQUA_VERSION}</string>
		<key>CFBundleSignature</key>
		<string>XCHA</string>
		<key>NSAppleScriptEnabled</key>
		<string>YES</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>Internet Relay Chat</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>irc</string>
				</array>
			</dict>
		</array>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright 2008 Steve Green.
Portions copyright Peter Zelezny, Camillo Lugaresi, Eugene Pimenov.
http://xchataqua.sf.net</string>
		<key>NSMainNibFile</key>
		<string>MainMenu</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
	</dict>
</dict>
</plist>
