# Automake junk
aclocal.m4
autom4te.cache
configure
libtool
*.deps
*Makefile
*Makefile.in
*Makefile.in.in
compile
depcomp
install-sh
intl
ltmain.sh
missing
stamp-h1

# Output files
po/POTFILES
po/xchat.pot
